  
      body {
        margin: 0;
        padding: 0;
        background-color: #000000;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100vh;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      .card {
        position: relative;
        width: 200px;
        height: 300px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
      }

      .img-card {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
      .bllured-layers {
        position: absolute;
        bottom: 0;
        width: 100px;
        height: 100px;
        /* background-image: url("https://images.unsplash.com/photo-1761839256840-7780a45b85dc?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
        background-size: cover;
        background-position: bottom;
        filter: blur(10px);
        z-index: 1;
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        -webkit-mask-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0)
        );
        -webkit-mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
      }
      .content {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        z-index: 2;}
        .content h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 6px;
      }
      .content p {
        font-size: 14px;
        color: #ddd;
        line-height: 1.4;
      }
       .search{
        padding: 10px;
        display: flex;
        align-content: center;
        margin-bottom: 10px;
      }
      .flex-gap{
        display: flex;
    /* align-items: center; */
    /* align-content: center; */
      }