* {
  margin: 0;
  padding: 0;
  background-color: bisque;
}
body {
  height: 100%;
  width: 100%;
}
form {
  padding: 10px;
}
main {
  padding: 10px;
}
input {
  display: block;
  padding: 10px;
  margin: 5px;
}
button {
  margin: 5px;
  padding: 10px;
}
.card {
    color: white;
     background-color: rgb(59, 51, 51);
    max-width: 300px;
  border-radius: 10px;
  margin: 13px;
  display: inline-block;
  padding: 17px;
  border: 2px solid black;
}
.profile {
    margin-bottom: 9px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  overflow: hidden;
}
.card h3{
    background-color: rgb(59, 51, 51);
}
.card p{
    background-color: rgb(59, 51, 51);
    font-size: 12px;
    margin-top: 10px;
}
.card h5{
    background-color: rgb(59, 51, 51);
        margin-top: 5px;
}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
